<!-- footer -->

	<div id="info">
		<div class="contact">
	  		<a href="{{site.data.creator.facebookUrl}}" >[fb]</a>
	  		<a href="{{site.data.creator.googlePlusUrl}}" rel="publisher">[g+]</a>
		  	<a href="{{site.data.creator.githubUrl}}" >[gh]</a>
	  	</div>
		
		<div class="titlebar">
			<span style="font-weight: bold">[{{site.data.app.title}}]</span>
		 	Developed By <a href="{{site.data.creator.url}}">{{site.data.creator.name}}</a>
		  - {{site.data.app.date}}
		</div>
	</div>
	
</body>
</html>
<!-- /footer -->